[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pdfkit = "*"
django = "==3.0.1"
crypto = "*"
cryptography = "*"
pycrypto = "*"
whitenoise = "*"
gunicorn = "*"
xlsxwriter = "*"
wkhtmltopdf = "*"
cffi = "==1.11.5"
mysqlclient = "==1.4.2.post1"
weasyprint = "*"

[requires]
