{% load static %}


{% if links %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
          <img src="{% static "billing/img/logo/part_logo.png" %}"  style="width:80px; height:50px;" alt="">

        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
				{% for action in links %}
	        <li class="nav-item active">
	          <a class="nav-link" href="{{action.url}}">{{action.name}}</a>
	        </li>
				{% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endif %}
