{% if form %}
	<div class='row'>
		<div class='col-8'>
			<form method="{{form.method}}" action="{{form.action}}" class='text-right'>
				{% csrf_token %}

				{% for hidden_field in form.hidden_fields %}
					{{ hidden_field }}
					{% endfor %}

				{% for field in form.visible_fields %}
					<div class="form-group">
						{{ field.label_tag }}
						{{ field }}
						{% if field.help_text %}
							<small class="form-text text-muted">{{ field.help_text }}</small>
						{% endif %}
						
						{% for error in field.errors %}
							<strong class="alert alert-danger">{{ error|escape }}</strong>
						{% endfor %}
					</div>
				{% endfor %}

				{% for error in form.non_field_errors %}
					<strong class="alert alert-danger">{{ error|escape }}</strong>
				{% endfor %}

				<button type="submit" class="btn btn-primary">{{form.submit_label}}</button>
			</form>
		</div>
	</div>
{% endif %}

